<h2><a href="/">THE DESIGN SHOP</a></h2>
<article class="footerSocialMediaIcons">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-youtube"></i></a>
</article>