<nav class="headerNav">
    <h1><a href="/">THE DESIGN SHOP</a></h1>
    <article class="navLinks">
        <a href="#">Weekly Recommendations</a>
        <a href="#">Less than 30$</a>
        <a href="/add_products">Add</a>
    </article>
</nav>